@import "../../main.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");

.header {
  @include media(">tablet") {
    display: none;
  }

  @include media("<=tablet") {
    font-family: "Readex Pro", sans-serif;
    height: 100%;
    width: 100%;
    max-width: 100rem;
    background: rgba(27, 27, 27, 1);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: absolute;
    background: transparent;
  }
}

.logo img {
  width: 250px;
  height: 100px;

  @include media("<=tablet") {
    display: none;
  }
}

.logoInterior {
  @include media("<=tablet") {
    position: absolute;
    top: 0;
    left: 0;
  }
}

nav {
  display: flex;
  align-items: center;

  @include media("<=tablet") {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    background: rgba(27, 27, 27, 1);
    transform: translateY(-100vh);
    z-index: 999;
    padding-bottom: 4.5rem;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }
}

nav a {
  margin: 50px;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  font-size: 22px;
  transition: 0.8s;

  @include media("<=tablet") {
    left: 50%;
    margin: 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    transition: 0.5s;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
}

nav a:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 12px;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.closeButton {
  color: rgba(237, 77, 73, 1);
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  display: none;
  opacity: 0;
  font-size: 2.5rem;

  @include media("<=tablet") {
    display: block;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.header .responsiveNavbar {
  @include media("<=tablet") {
    transform: none;
    z-index: 999;
  }
}

.barLogo {
  width: 35px !important;
  height: 23px !important;
}

.social {
  display: none;

  @include media("<=tablet") {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 32px;
    padding: 50px;
    margin: 20px;

    a {
      padding: none;
      margin: 0;
    }
  }
}

.menu {
  @include media("<=tablet") {
    display: flex;
    flex-direction: column;
  }
}

nav a img {
  display: none;

  @include media("<=tablet") {
    display: inline-block;
    padding: 0 15px;
  }
}
.HashLinkStyle {
  color: white;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: white;
    font-weight: bolder;
    border-bottom: 2px solid black;
  }
}
