@import "../../main.module.scss";

.page1 {
  max-width: 100rem;
  margin: auto;
  height: 100%;
  background: url("./logo.svg"), #151515;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 16rem;
}

.title {
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue Regular";

  @include media("<=tablet") {
    height: 300px;
  }
}

.title h1 {
  font-size: 84px;
  background: -webkit-linear-gradient(90.38deg, #ff6e9a 0.11%, #e7422e 97.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline 6px solid #ff6e9a;
  text-underline-offset: 10px;

  @include media("<=tablet") {
    font-size: 3rem;
  }
}

.cardsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 3rem;

  @include media("<=tablet") {
    display: grid;
    align-items: center;
    row-gap: 4rem;
    padding: 0 5%;
  }
}
.card {
  width: 30%;
  height: 100%;
  min-width: 360px;
  padding: 2rem;
  position: relative;

  @include media("<=tablet") {
    width: 89%;
    min-width: 0px;
    padding: 1rem 2rem;
    margin: auto;
  }
}

.cardStyle {
  display: grid;
  justify-content: center;
  row-gap: 1.5rem;
}

.cardTitle {
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media("<=tablet") {
    font-size: 20px;
  }
}

.euro {
  font-size: 32px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans Bold";

  @include media("<=tablet") {
    font-size: 25px;
  }
}

.cardInfo {
  font-size: 14px;
  font-weight: 500;

  @include media("<=tablet") {
    font-size: 11px;
  }
}

.add1 {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.add2 {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.cardButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardButton button {
  width: 100%;
  background: rgba(233, 70, 55, 1);
  border: none;
  color: azure;
  padding: 1rem 6rem;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;

  @include media("<=tablet") {
    padding: 1rem 2rem;
    font-size: 1em;
  }
}

.pachete {
  font-size: 16px;
  font-weight: 500;

  @include media("<=tablet") {
    font-size: 10px;
  }
}

.pachete div {
  display: flex;
  padding: 0.5rem;
  gap: 1rem;

  @include media("<tablet") {
    grid-gap: 1rem;
    gap: 1rem;
    font-size: 1.6em;
    font-weight: bold;
  }
}

.manLogo {
  position: absolute;
  margin-top: -166px;
  margin-left: -105px;
  left: 0;

  @include media("<=tablet") {
    margin-top: -114px;
    margin-left: -60px;
    width: 170px;
  }
}

.manLogo2 {
  position: absolute;
  margin-top: -42.5%;
  right: 0;
  margin-right: -250px;
  @include media("<=tablet") {
    display: none;
  }
}

.smooth {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elegantCard {
  width: 80rem;
  margin: auto;
  border-radius: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  color: black;
  align-items: center;
  padding: 4rem 2rem;

  @include media("<=tablet") {
    width: 100%;
    background: transparent;
    grid-template-columns: 1fr;
    color: white;
    padding: 1rem 1rem;
  }
}

.logoElegant {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @include media("<=tablet") {
    align-items: center;
  }
}

.logoElegant img {
  width: 100%;
  height: 100%;
}

.textElegant {
  padding: 0 1rem;
  font-size: 20px;
  // font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.1454544961452484px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @include media("<=tablet") {
    font-size: 13px;
    align-items: center;
    justify-content: center;
  }
}
