@import "../../../../node_modules/include-media/dist/include-media";
@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../main.module.scss";

.infoWrap {
  font-family: "Bebas Neue Regular";
  color: white;
  padding: 0 100px;
  margin: auto;
  max-width: 1206px;
  h2 {
    color: #ec4c45;
    margin-bottom: 0;
  }

  @include media("<tablet") {
    padding: 0 13.5%;
  }
  h3 {
    line-height: 1.4em;
  }
}

.textTitle {
  display: flex;
  flex-direction: row;
}

.pinIcon {
  position: absolute;
  margin-left: -68px;
  margin-top: -10px;
  width: 58px;
  height: 58px;

  @include media("<tablet") {
    position: absolute;
    margin-left: -11%;
    margin-top: -1%;
    width: 40px;
    height: 40px;
  }
}
