@import "../../main.module.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.contact {
  font-family: "DM Sans", sans-serif;
  max-width: 100rem;
  height: 100%;
  margin: auto;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6rem 2rem;
  padding-bottom: 3rem;

  @include media("<=tablet") {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem 1rem;
  }
}

.inputs {
  display: grid;
  gap: 1rem;
  width: 90%;
  padding: 1rem 0;

  @include media("<tablet") {
    width: 100%;
  }
}

.inputs input {
  height: 3rem;
  padding: 0 1rem;
}

.selection {
  display: grid;
  gap: 1rem;
  width: 90%;
  padding: 1rem 0;
  @include media("<tablet") {
    width: 100%;
  }
}

select {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
}

.textareaSection {
  display: grid;
  gap: 1rem;
  width: 90%;
  padding: 1rem 0;
  @include media("<tablet") {
    width: 100%;
  }
}

.submitSection {
  display: grid;
  gap: 1rem;
  width: 90%;
  padding: 1rem 0;
}

.submitSection input {
  background-color: rgb(12, 85, 12);
  color: white;
  font-family: "DM Sans", sans-serif;
  border: none;
  border-radius: 10px;
  padding: 1rem 1rem;
}

.textareaSection textarea {
  height: 8rem;
}

.container1 {
  padding: 0 6rem;
  display: grid;
  grid-column-gap: 2rem;
  column-gap: 2rem;
  height: 930px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @include media("<=tablet") {
    padding: 0 1rem;
    grid-column-gap: 0rem;
    column-gap: 0rem;
    row-gap: 1rem;
    min-height: 476px;
    display: flex;
    flex-direction: column;
  }
  div {
    height: fit-content;
  }
}

.container2 {
  display: grid;
  column-gap: 2rem;
  height: 100%;
  position: relative;

  @include media("<=tablet") {
    padding: 0 1rem;
    height: 50%;
  }
  form {
    min-width: 344px;
    max-width: 590px;
    width: 100%;
  }
}

.contactSection h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 64px;
  font-weight: 700;

  @include media("<=tablet") {
    font-size: 30px;
    display: none;
  }
}

.contactSection p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;

  @include media("<=tablet") {
    font-size: 15px;
    display: none;
  }
}
.emailSection,
.phoneSection,
.socialSection {
  @include media("<=tablet") {
    height: 85px;
  }
}

.emailSection h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;

  @include media("<=tablet") {
    font-size: 25px;
  }
}

.emailSection p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;

  @include media("<=tablet") {
    font-size: 15px;
  }
}

.phoneSection h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  @include media("<=tablet") {
    font-size: 25px;
  }
}

.phoneSection p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;

  @include media("<=tablet") {
    font-size: 15px;
  }
}

.socialSection h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  @include media("<=tablet") {
    font-size: 25px;
  }
}

.socialSection p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline white;

  @include media("<=tablet") {
    font-size: 15px;
  }
}

.contactLogo {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 64%;
  @include media("<=tablet") {
    display: none;
  }
}

.mobileLogo {
  display: none;
  @include media("<=tablet") {
    display: block;
    width: 80%;
    height: 80%;
  }
}

.mobileHeader {
  display: none;

  @include media("<=tablet") {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
  }
}

.submitSection {
  @include media("<tablet") {
    width: 100%;
  }
  button {
    padding: 10px 0;
    font-weight: bold;
    background-color: green;
    color: white;
    border: none;
    outline: none;
  }
}
