@import "./../main.module.scss";
@import "./../data//themes.scss";

.servicesBlock {
  height: 500px;
  display: flex;
  width: 100vw;
  justify-content: center;
  column-gap: 3%;
  margin: auto;
  max-width: 1200px;
  align-items: center;
  height: 649px;
  @include media("<tablet") {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
    height: auto;
    row-gap: 30px;
    margin: 16% 0;
  }
}

.cardBlock {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 10%;
  height: 339px;
  padding: 2%;
  position: relative;

  border-radius: 24px 20px 0px 0px;
  //   outline: 7px solid #ff9900;
  //   border-image: linear-gradient(to bottom, #dadada, #dad2c600);
  background: rgb(248, 248, 248);
  background: linear-gradient(
    180deg,
    rgba(248, 248, 248, 1) 0%,
    rgba(248, 248, 248, 0.7008053221288515) 54%,
    rgba(248, 248, 248, 0.4375) 70%,
    rgba(248, 248, 248, 0) 100%
  );
  border-top: 5px solid #ff9900;
  border-right: linear-gradient(to bottom, #ff9900, #00dd1d);
  border-right: 3px solid #ff9900;
  border-left: 3px solid #ff9900;

  @include media("<tablet") {
    background: #003554;
    width: 100%;
    border: none;
    border-radius: 29px;
    padding-right: 40%;
    padding-left: 7%;
    row-gap: 0%;
    justify-content: center;
    height: 240px;
  }

  h2 {
    font-family: "blemo";
    font-size: 1.5em;
    width: 100%;

    @include media("<tablet") {
      color: white;
    }
  }
  span {
    font-family: "Questrial Regular";
    line-height: 0.9em;
    height: 21%;
    outline: 2px solid black;
    @include media("<tablet") {
      color: rgb(185, 185, 185);
    }
  }

  button {
    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 9px 28px;
  }
  .arrowStyle {
    position: absolute;
    top: 2%;
    right: 2%;

    @include media("<tablet") {
      filter: invert(1);
      width: 11%;
    }
  }
  .building {
    position: absolute;
    bottom: 5%;
    right: 2%;
    margin-right: -12%;
    margin-bottom: -45%;
    width: 44%;

    @include media("<tablet") {
      margin-right: 0%;
      margin-bottom: -15%;
    }
  }
}

////
///
///
///
///
///

.card {
  position: relative;
  width: 320px;
  aspect-ratio: 1/1;
  background: rgb(153, 12, 12);
  background: radial-gradient(circle, rgba(153, 12, 12, 1) 0%, rgba(78, 0, 0, 1) 35%, rgba(0, 0, 0, 1) 63%);
  border-radius: 10px;
  outline: 2px solid #8b8b8b;

  @include media("<tablet") {
    width: 100%;
    aspect-ratio: 1.55/1;
    max-width: 420px;
  }
}

.title {
  text-align: start;
  font-size: 1.8em;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.toptitle {
  text-align: start;
  color: red;
  font-size: 1em;
  margin: 0px;
}
.action {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.action a button {
  background: transparent;
  border: 1.6px solid white;
  color: white;
  padding: 1.8% 10%;
  left: 1px;
  margin-left: 1px;
  white-space: nowrap;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.interiorPadder {
  box-sizing: border-box;
  padding: 13% 7%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  z-index: 2;

  @include media("<tablet") {
    padding: 9% 7%;
  }
}

.building {
  height: 100px;
  height: 100px;
}

.card img {
  position: absolute;
  width: 200px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
  @include media("<tablet") {
    width: 45%;
  }
}
