@import "../../../node_modules/include-media/dist/include-media";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../main.module.scss";

.cardContainer {
  width: 600px; //is override by card-container
  height: 375px;

  @include media("<tablet") {
    height: 248px;
  }
  img {
    object-fit: cover;
  }
}
