@import "../../../node_modules/include-media/dist/include-media";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../main.module.scss";

.landingFirst {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: relative;
  overflow: hidden;
  height: 677px;
  margin: auto;
  height: 656px;
  width: 100vw;
  max-width: 1200px;
  padding: 4% 0;
  @include media("<tablet") {
    padding: 10% 0;
  }
}
.socialWrapper {
  // outline: 2px solid white;
  display: flex;
  padding: 5% 0;
  column-gap: 10px;
  img {
    width: 30px;
    height: 30px;
    filter: invert(1);
    cursor: pointer;
    opacity: 0.93;
    &:hover {
      opacity: 1;
    }
  }
}
.actionWrapper {
  font-family: "Bebas Neue Regular";
  font-size: 1.3em;
  padding: 2% 0;
  display: flex;
  column-gap: 20px;
  @include media("<tablet") {
    margin-top: 10%;
    justify-content: center;
  }
  .pricesButton {
    width: 185px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: none;
    outline: 1px solid white;
    @include media("<tablet") {
      min-width: 130px;
      height: 35px;
      width: 160px;
    }
  }

  .callNow {
    width: 185px;
    height: 50px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    @include media("<tablet") {
      min-width: 130px;
      width: auto;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
    }
  }
}
.heroMedia {
  grid-column: span 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  position: absolute;
  right: 0px;
  top: 0%;
  height: inherit;
  margin-right: -26%;
  @include media("<tablet") {
    grid-column: span 6;
  }
  .heroImage {
    height: 100%;
    // background-image: linear-gradient(to right, #151515, #15151588 20%, rgba(255, 255, 255, 0)),
    //   url("./../../media/riona/heroBoy.jpg");
    -webkit-mask-image: linear-gradient(
      to left,
      rgb(0, 0, 0) 2%,
      rgb(0, 0, 0) 66%,
      rgba(0, 0, 0, 0.1) 90%,
      rgba(0, 0, 0, 0) 97%
    );
    mask-image: linear-gradient(
      to left,
      rgb(0, 0, 0) 2%,
      rgb(0, 0, 0) 66%,
      rgba(0, 0, 0, 0.1) 90%,
      rgba(0, 0, 0, 0) 97%
    );
    background-size: cover;
    color: white;
    padding: 20px;

    @include media("<tablet") {
      margin-right: -16%;
      height: 320px;
      width: unset;
      margin-top: -60%;
      -webkit-mask-image: linear-gradient(
        to left,
        rgb(0, 0, 0) 57%,
        rgb(0, 0, 0) 50%,
        rgba(0, 0, 0, 0.1) 77%,
        rgba(0, 0, 0, 0) 88%
      );
      mask-image: linear-gradient(
        to left,
        rgb(0, 0, 0) 57%,
        rgb(0, 0, 0) 50%,
        rgba(0, 0, 0, 0.1) 77%,
        rgba(0, 0, 0, 0) 80%
      );
    }
  }
}

.heroText {
  grid-column: span 5;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  @include media("<tablet") {
    grid-column: span 10;
    padding: 0 3%;
  }
}
.pitchText {
  z-index: 10;
  font-family: "Bebas Neue Regular";
  @include media("<tablet") {
    height: 340px;
    width: 100%;
  }
  h2 {
    font-family: "Bebas Neue Regular";
    font-size: 5em;
    line-height: 1em;
    margin-bottom: 0;
    color: #ffffff;
    text-shadow: 2px 3px 3px rgba(32, 23, 23, 0.34);

    @include media("<tablet") {
      font-size: 2.5em;
    }
  }
}
.little {
  font-family: "Bebas Neue Regular";
  color: #f33d73 !important;
  font-size: 3em !important;
  letter-spacing: 0.4em;
  @include media("<tablet") {
    font-size: 1.4em !important;
  }
}
.elipse {
  position: absolute;
  background-color: #f8f8f8;
  border-radius: 50%;
  height: 960px;
  width: 960px;
  transform: translate(-50%, -50%);
  z-index: -1;

  @include media("<tablet") {
    height: 68vw;
    width: 68vw;
    transform: translate(-50%, -38%);
  }
}

.brandingSeparator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
  max-width: 1600px;
  img {
    width: 100%;
  }
}

.backdropModal {
  background-color: rgb(0 0 0 / 78%);
  width: 100vw;
  height: fit-content;

  position: absolute;
  z-index: 1000;
  top: 0px;
  @include media("<tablet") {
    height: 100%;
  }
}
.closeStyle {
  width: 30px;
  cursor: pointer;
  margin-top: -6%;
}

.topModal {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.HashLinkStyle {
  color: inherit;

  text-decoration: none;
  &:hover {
    color: inherit;
    font-weight: bolder;
  }
}
